.my-color-banar{
    background-color: #fceae8;
}
.all-buttons {
    background-color: #ff4891;
}

.watch-bg {
    background-color: #fea500;
}

.bag-bg {
    background-color: #da70d5;
}

.shoes-bg {
    background-color:
        #0000fe;
}