.my-color-banar{
    background-color: #fceae8;
}
.all-buttons {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    }

    .icone img {
        width: 100px;
}

.watch-bg {
    background-color: #fea500;
}

.bag-bg {
    background-color: #da70d5;
}

.shoes-bg {
    background-color:
        #0000fe;
}